/* MAIN CONTENT */

.main-content {
    grid-column: 2;
    background-color: #E2E8F0;
    margin: 10px;
    display: grid;
    grid-template-rows: 0.5fr 6fr 50px;
    gap: 10px;
}

.current-project {
    grid-row: 1;
    height: 100%;
    background-color: #B9E0F3;
}

.current-project > h2 {
    font-size: 1.5em;
    text-align: center;
}

.task-list-container {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Task Card */
.task-card {
    height: 50px;
    width: 90%;
    margin-top: 5px;
    box-shadow: 3px 3px rgb(225, 226, 226);
    border-left: 5px solid #F0B42A;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 0.5fr 8fr 2fr ;
    grid-template-rows: 1;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.task-card:hover {
    background-color: #B9E0F3;
}

.task-card input {
    grid-column: 2;
    height: 90%;
    width: 95%;
    font-size: 1em;
    background-color: inherit;
    border: none;
    cursor: default;
}

.task-icons-container {
    grid-column: 3;
    height: 90%;
    margin-top: 3px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.task-icons {
    cursor: pointer;
    height: 20px;
}

#due-date-input {
    display: none;
    position: absolute;
    top: 182px;
    left: 485px;
    z-index: 1000; /* Ensure it appears above other elements */
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: auto; 
    height: 20px; 
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Add Task input field */
.new-task-wrapper {
    position: relative;
    grid-row: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.task-title {
    margin-left: 12px;
    padding-left: 30px;
    width: 95%;
    height: 70%;
    border: 1px solid #323638;
    border-radius: 6px;
    background-color: #b9e0f3;
    box-sizing: border-box;
}

.add-task-icon-wrapper {
    position: absolute;
    left: 10px; /* Adjust position as needed */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Allow clicks to pass through the icon */
}

.add-task-icon {
    background: none;
    border: none;
    margin-top: 3px;
}