.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-weight: 800;
    font-size: 1.1em;
}

.dropdown-button {
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-icon {
    width: 25px;
    height: 25px;
    margin-top: 8px;
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 0;
    left: 23px;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-item {
    padding: 6px 10px;
    text-align: left;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.visible {
    display: block;
}