body {
    display: grid;
    grid-template-columns: 1fr 2.3fr 2.3fr;
    grid-template-rows: 80px 805px;
}



/* HEADER */

header {
    border-bottom: 2px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    grid-column: 2 / span 2;
    grid-row: 1 / 1;
    padding: 10px 20px;
}

.nav-bar-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-icon {
    width: 15px;
    height: 15px;
}

.search-bar {
    background-color: #E2E8F0;
    border: none;
    border-radius: 15px;
    width: 50%;
    height: 25px;
    margin-left: 10px;
    margin-right: auto;
}

.notifications-icon {
    width: 20px;
    height: 20px;
}

.member-avatar-1 {
    width: 35px;
    height: 35px;
    margin: 0 20px;
}

header p {
    font-weight: bold;
    font-size: 0.8em;
}

.user-info {
    margin-right: auto;
}