body {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 80px 600px;
}

/* HEADER */

header {
    border-bottom: 2px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    grid-column: 2;
    grid-row: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-icon {
    opacity: 0.3;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.search-bar {
    background-color: #e2e8f0;
    border: none;
    border-radius: 15px;
    width: 70%;
    height: 35px;
}

/* DASHBOARD */

.dashboard {
    grid-column: 1;
}

/* MAIN CONTENT */

.main-content {
    grid-column: 2;
    background-color: #e2e8f0;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.current-location {
    height: 45px;
    background-color: #b9e0f3;
    border: 2px solid;
}

.current-location > h2 {
    font-size: 1.5em;
    text-align: center;
}

.weather-display {
    height: 95%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
}

h3 {
    width: 200px;
    height: 35px;
    text-align: center;
    border: 2px solid;
}

.current-weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: min(250px, 50%);
    padding: 5px;
}

.weakly-weather-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 5px;
    justify-content: center;
    align-items: center;
    height: min(250px, 50%);
    width: min(100px, 50%);
    padding: 5px;
}

.weather-card {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 2px solid;
}
