body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: max(325px, 60%);
    padding: 7px 0;
    border-bottom: 2px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-icon {
    opacity: 0.3;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.search-bar {
    width: 70%;
    height: 35px;
    background-color: #e2e8f0;
    border: none;
    border-radius: 15px;
}

/* MAIN CONTENT */

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max(320px, 60%);
}

.current-location {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: max(320px, 100%);
    background-color: skyblue;
    margin-top: 10px;
}

.current-location > h2 {
    font-size: 2.5vw;
    text-align: center;
}

.weather-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e2e8f0;
    height: auto;
    width: max(300px, 98.5%);
    margin: 5px;
    padding: 5px;
}

h3 {
    height: max(20px, 5%);
    width: max(200px, 70%);
    text-align: center;
    margin: 5px;
}

.current-weather-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: max(300px, 30%);
    width: max(300px, 95%);
}

.weakly-weather-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: #e2e8f0;
    height: max(400px, 60%);
    width: max(300px, 98%);
    padding: 2px;
}

.weather-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 205px;
    width: 145px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    border-bottom: 2px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.date-header {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 125px;
    padding-bottom: 5px;
    border-bottom: 2px dotted;
}

.daynumber {
    grid-column: 1;
    height: 100%;
    width: 35px;
    font-size: 2em;
    font-weight: 900;
}

.day-and-month {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    width: 90px;
}

.dayname {
    font-weight: 800;
    font-size: 1.1em;
}

.weather-icon {
    height: 90px;
    width: 125px;
    padding: 3px;
}

.weather-data {
    display: grid;
    height: 50px;
    border: 2px dotted;
}

.current-weather-container .weather-card {
    height: 215px;
    width: 250px;
}